<launch>
    <arg name="with_map" default="True"/>
    <arg name="with_joystick" default="True"/>
    <arg name="map_file" default="$(find turtlebot3_bringup)/map/map5.yaml"/>

    <group if="$(arg with_joystick)">
        <include file="$(find teleop_twist_joy)/launch/teleop.launch">
            <arg name="config_filepath" value="$(find turtlebot3_bringup)/config/joystick.config.yaml" />
        </include>
    </group>

    <group unless="$(arg with_joystick)">
        <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch">
            <arg name="model" value="covid" />
        </include>
    </group>

    <group if="$(arg with_map)">
        <node name="rviz_remote" pkg="rviz" type="rviz" args="-d $(find turtlebot3_bringup)/rviz/covid_demo_config_with_map.rviz"/>
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
        <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>
    </group>

    <group unless="$(arg with_map)">
        <node name="rviz_remote" pkg="rviz" type="rviz" args="-d $(find turtlebot3_bringup)/rviz/covid_demo_config.rviz"/>
    </group>

</launch>
